.App {
  /* 뭉탱이 만들어서 세로로 정렬 */
  display: flex;
  /* 뭉탱이 세로로 정렬 */
  flex-direction: column;
}

.header {
  /* 위아래 양옆 */
  padding: 1rem 2rem;
  background: #3b5998;
  display: flex;
  /* 컨텐츠 위치 정렬 */
  justify-content: space-between;
  /* 셀렉트 박스 크기 */
  align-items: center;
}

.header h1 {
  color: #fff;
}

.header select {
  height: 30px;
  width: 140px;
  border-radius: 5px;
  border: none;
}

section {
  padding: 1rem;
}

.contents {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
}
